<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHAT</title>
    <link rel="stylesheet" href="chatui.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="chatui.js"></script>
</head>
<body>
    <div id="app">
        <div class="w3-card-4" v-bind:style="{height: loginHeight +'px'}" id="login-section" v-show="isShow">
            <form class="w3-container" @submit.prevent="login">
                <p>
                    <label class="w3-text-teal">Username</label><p>{{errorUsername}}
                    <input class="w3-input w3-border w3-light-grey" v-model="username" placeholder="username"></p>
                <p>
                    <label class="w3-text-teal">Password</label><p>{{errorPass}}
                    <input class="w3-input w3-border w3-light-grey" v-model="password" placeholder="password" type="password"></p>
                <p><input type="submit" value="log in"></p>
            </form>
        </div>
        <div v-bind:style="{top: mDivTop +'px'}" ref="messagesDiv" id="messages-section">
            <div class="w3-container">
                <div v-for="msg in messages" class="w3-panel w3-round w3-green">
                    <p>{{ msg.text }}</p>
                </div>

            </div>
        </div>
        <div v-show="isLogin" id="input-section">
            <form class="w3-container">
                <div>
                    <p>
                        <label>Enter message:</label>
                        <input type="text" class="w3-input w3-border" v-model="messageText">
                    </p>
                    <p class="w3-right">
                        <button class="w3-btn w3-grey" @click.prevent="refreshMessages">Refresh</button>
                        <button class="w3-btn w3-light-blue w3-round" @click.prevent="sendMessage">Sent</button>
                    </p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
