body, #app {
    height: 100%;
}
#login-section {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    overflow: auto;
}

#messages-section {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 200px;
    overflow: auto;
}

#input-section {
    position: fixed;
    right: 0;
    left: 0;
    height: 200px;
    bottom: 1px;
}
